/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.buttons.link {
  color: #338fe5;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
