#pnpm
public-hoist-pattern[] = @docsearch/*
public-hoist-pattern[] = @docusaurus/*
public-hoist-pattern[] = @mdx-js/*
public-hoist-pattern[] = @types/*
public-hoist-pattern[] = *prettier*
# ci: fix Cannot find module 'conventional-changelog-conventionalcommits'
public-hoist-pattern[] = conventional-changelog-conventionalcommits
resolution-mode = time-based
shell-emulator = true
registry = https://registry.npmjs.org/