.cardWraper {
  width: 50%;
  display: flex;
}

.cardIcon {
  width: 100px;
  height: 100px;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title {
  font-size: 24px;
  line-height: 32px;
  color: var(--gray--1);
  font-weight: 700;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 0 10px 0;
  color: var(--gray--3);
}

.tipWraper {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--ifm-color-primary);
  cursor: pointer;
  width: fit-content;
}
.tipWraper:active {
  color: var(--ifm-color-primary-dark);
}
.tipWraper:hover .tipsIcon {
  transition: transform var(--ifm-transition-fast) linear;
  transform: translateX(5px);
}
.tipText {
  padding-right: 5px;
}

@media screen and (min-width: 1260px) {
  .cardWraper {
    width: calc(50% - 10px);
    padding: 20px;
  }
  .cardWraper:nth-child(odd) {
    margin-right: 20px;
  }
  .cardWraper:first-child {
    margin-bottom: 40px;
  }
  .cardContent {
    padding-left: 30px;
  }
  .cardIcon {
    height: 100px;
    width: 100px;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 15px 0;
  }
  .tipWraper {
    font-size: 16px;
    line-height: 24px;
  }
}

/* 1024 <= witdh <= 1259 */
@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .cardWraper {
    width: calc(50% - 10px);
    padding: 20px;
  }
  .cardWraper:nth-child(odd) {
    margin-right: 20px;
  }
  .cardWraper:first-child {
    margin-bottom: 20px;
  }
  .cardContent {
    padding-left: 30px;
  }
  .cardIcon {
    height: 100px;
    width: 100px;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 15px 0;
  }
  .tipWraper {
    font-size: 16px;
    line-height: 24px;
  }
}

/* 768 < width <= 1023 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardWraper {
    width: calc(50% - 10px);
    padding: 20px;
  }
  .cardWraper:nth-child(odd) {
    margin-right: 20px;
  }
  .cardWraper:first-child {
    margin-bottom: 20px;
  }
  .cardContent {
    padding-left: 30px;
  }
  .cardIcon {
    height: 80px;
    width: 80px;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .description {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0 15px 0;
  }
  .tipWraper {
    font-size: 16px;
    line-height: 24px;
  }
}

/* 0 < width <= 767 */
@media screen and (max-width: 767px) {
  .cardWraper {
    width: 100%;
    padding: 10px;
  }
  .cardWraper:not(:first-child) {
    margin-top: 20px;
  }
  .cardContent {
    padding-left: 20px;
  }
  .cardIcon {
    height: 80px;
    width: 80px;
  }
  .title {
    font-size: 16px;
    line-height: 24px;
  }
  .description {
    font-size: 14px;
    line-height: 22px;
  }
  .tipWraper {
    font-size: 14px;
    line-height: 22px;
  }
}
