openapi: 3.0.1
info:
  title: Testcase Library
  version: '1.0'
  description: |
    This resource represents testcase libraries. Use it to get, create, update, and delete testcase libraries.
servers:
  - url: https://ones.com/rest/api/v1
  - url: http://ones.com/rest/api/v1
paths:
  /testcase/team/{teamID}/libraries:
    get:
      summary: Get a list of test case libraries
      operationId: get-a-list-of-test-case-libraries
      description: Get a list of test case libraries.
      security:
        - oauth2:
            - read:testcase:library
      parameters:
        - name: teamID
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The number of test case libraries returned by this request.
          schema:
            type: integer
        - name: cursor
          in: query
          description: The starting location of this request.
          schema:
            type: string
      responses:
        200:
          description: Request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSuccessResponse'
        401:
          description: Returned if the authentication credentials are incorrect or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        403:
          description: Returns if the scope check fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        404:
          description: Returned if the resource object was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        500:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
    post:
      summary: Create a new test case library
      operationId: create-a-new-test-case-library
      description: Create a new test case library.
      security:
        - oauth2:
            - write:testcase:library
      parameters:
        - name: teamID
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
      requestBody:
        description: The test case library information to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestLibrary'
        required: true
      responses:
        200:
          description: Request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrUpdateSuccessResponse'
        401:
          description: Returned if the authentication credentials are incorrect or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        403:
          description: Returns if the scope check fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        404:
          description: Returned if the resource object was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        500:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
      x-codegen-request-body-name: body
  /testcase/team/{teamID}/libraries/{libraryID}:
    get:
      summary: Get a test case library details
      operationId: get-a-test-case-library-details
      description: Get a test case library details.
      security:
        - oauth2:
            - read:testcase:library
      parameters:
        - name: teamID
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: libraryID
          in: path
          description: The id of the test case library.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrUpdateSuccessResponse'
        401:
          description: Returned if the authentication credentials are incorrect or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        403:
          description: Returns if the scope check fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        404:
          description: Returned if the resource object was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        500:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
    put:
      summary: Update a test case library
      operationId: update-a-test-case-library
      description: Update a test case library.
      security:
        - oauth2:
            - write:testcase:library
      parameters:
        - name: teamID
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: libraryID
          in: path
          description: The id of the test case library.
          required: true
          schema:
            type: string
      requestBody:
        description: Test case repository information to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestLibrary'
        required: true
      responses:
        200:
          description: Request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrUpdateSuccessResponse'
        401:
          description: Returned if the authentication credentials are incorrect or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        403:
          description: Returns if the scope check fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        404:
          description: Returned if the resource object was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        500:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
      x-codegen-request-body-name: body
    delete:
      summary: Delete a test case library
      operationId: delete-a-test-case-library
      description: Delete a test case library.
      security:
        - oauth2:
            - write:testcase:library
      parameters:
        - name: teamID
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: libraryID
          in: path
          description: The id of the test case library.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSuccessResponse'
        401:
          description: Returned if the authentication credentials are incorrect or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        403:
          description: Returns if the scope check fails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        404:
          description: Returned if the resource object was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
        500:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
components:
  schemas:
    RequestLibrary:
      type: object
      properties:
        caseFieldConfigurationID:
          maxLength: 8
          minLength: 1
          type: string
          description: The id of the test case library field configuration.
        name:
          maxLength: 32
          minLength: 1
          type: string
          description: The name of the test case library.
    DeleteSuccessResponse:
      type: object
      properties:
        result:
          type: string
          description: The result of this request.
    AddOrUpdateSuccessResponse:
      type: object
      properties:
        result:
          type: string
          description: The result of this request.
        data:
          $ref: '#/components/schemas/ListItem'
    ListItem:
      type: object
      properties:
        name:
          type: string
          description: The name of the test case library.
        id:
          type: string
          description: The id of the test case library.
        createTime:
          type: integer
          description: The create time of the test case library.
        updateTime:
          type: integer
          description: The update time of the test case library.
        stickToTop:
          type: boolean
          description: Whether the test case library is at the top.
        testcaseFieldConfig:
          type: object
          properties:
            name:
              description: Test case library field configuration name.
              type: string
            id:
              type: string
              description: Test case library configuration ID.
          description: Test case library field configuration information.
    PageInfo:
      type: object
      properties:
        count:
          type: integer
          description: The number returned this time.
        endCursor:
          type: string
          description: The last cursor on this page is generally used to turn pages.
            backwards.
        endPos:
          type: integer
          description: The last position on this page.
        hasNextPage:
          type: boolean
          description: Is there a next page.
        startCursor:
          type: string
          description: The first cursor on this page is generally used to turn pages.
            backwards.
        startPos:
          type: integer
          description: The first position on this page.
        totalCount:
          type: integer
          description: The total number of items available in the entire collection,
            including those that are  returned in the current response.
    AllSuccessResponse:
      type: object
      properties:
        result:
          type: string
          description: The result of this request.
        data:
          type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/ListItem'
            pageInfo:
              $ref: '#/components/schemas/PageInfo'
    BadResponse:
      type: object
      properties:
        result:
          type: string
          description: The result of this request.
        errorCode:
          type: string
          description: The error code of this request.
        errorMsg:
          type: string
          description: Error message for this request.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ones.com/oauth2/authorize
          tokenUrl: https://ones.com/oauth2/token
          scopes:
            write:testcase:library: Add, edit, delete test case library
            read:testcase:library: Access test case library information
