.articleContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 120px 50px 120px;
}

.sectionContainer:first-child {
  padding-top: 80px;
}

.sectionTitle {
  font-size: 32px;
  line-height: 28px;
  font-weight: 500;
}

.sectionContent {
  margin-top: 40px;
}

.abilityContent {
  display: flex;
}

.abilityCard {
  width: calc((100% - 30px) / 3);
  margin-right: 30px;
  background: linear-gradient(0deg, rgba(78, 141, 222, 0.05), rgba(78, 141, 222, 0.05)),
    linear-gradient(293.29deg, rgba(255, 255, 255, 0) 66.13%, #4e8dde 123.78%);
  border-radius: 8px;
}

.abilityCard:last-child {
  margin-right: 0;
}

.abilityCardTitle {
  padding: 25px 25px 15px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 25px 20px 25px;
}

.item {
  display: flex;
  align-items: baseline;
  position: relative;
  width: calc((100% - 42px) / 2);
  list-style: none;
  margin-right: 42px;
  margin-bottom: 5px;
}

.item::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #303030;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.label {
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #303030;
}

.label:hover {
  text-decoration: none;
}

.toolsContent {
  display: flex;
  flex-wrap: wrap;
}

.toolsCard {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.toolsCard:nth-child(3n) {
  margin-right: 0;
}

.toolsCard:hover {
  text-decoration: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(48, 48, 48, 0.1),
    0px 3px 12px rgba(48, 48, 48, 0.08);
}

.toolsCardTitle {
  padding: 25px 25px 15px 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #303030;
}

.description {
  padding: 0 25px 25px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #606060;
}
