/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.learningContent {
  display: flex;
  flex-direction: column;
  margin: 60px 120px;
}

.title {
  margin-bottom: 0.625rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 28px;
}

.description {
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #909090;
}

html[data-theme='dark'] .description {
  color: rgb(211, 195, 168);
}
