/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
}

.stops {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.step {
  display: flex;
}

.step:last-child .split {
  display: none;
}

.stepTitle {
  min-width: 72px;
  width: 140px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #303030;
}

html[data-theme='dark'] .stepTitle {
  color: rgb(255, 254, 226);
}

.splitContainer {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.segment {
  width: 10px;
  height: 10px;
  border: 2px solid #338fe5;
  border-radius: 50%;
}

.split {
  height: calc(100% - 10px);
  width: 1px;
  margin-left: 5px;
  background-color: #dedede;
}

.contentContainer {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.description {
  display: block;
  color: #909090;
  font-size: 14px;
  line-height: 22px;
}

html[data-theme='dark'] .description {
  color: rgb(255, 244, 198);
}

.docs {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.docList {
  display: flex;
  margin-bottom: 12px;
  border: 1px solid #dedede;
}

.docList:last-child {
  margin-bottom: 0px;
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  padding: 3px 18px;
  text-align: center;
  background-color: #f5f9fd;
}

html[data-theme='dark'] .itemTitle {
  background-color: rgb(25, 27, 25);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 40px 15px 40px;
}

.vector,
.activeVector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

.item .activeVector {
  display: none;
}

.item:hover {
  text-decoration: none;
  color: rgb(0, 137, 255);
  cursor: pointer;
  opacity: 0.48;
}

.item:hover .activeVector {
  display: flex;
}

.item:hover .vector {
  display: none;
}
